html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  .header {
    background-color: #3f51b5;
    color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
  }
  .header_left {
    margin-left: 3%;

    span {
      font-size: 1.5em;
      font-weight: 700;
    }
  }
  .navbar {
    margin-right: 3%;
    ul {
      list-style-type: none;
      display: inline-flex;
    }
    li {
      padding: 15px;
    }
  }
}

.card_container {
  display: flex;
  max-width: 70% !important;
  margin-left: 3%;
  margin-right: 1%;
}

.hero {
  display: flex;
  justify-content: center;
}
.basket {
  justify-content: center;
  overflow-y: scroll;
  max-width: 20%;
  border: 1px solid #9096bb5d;
  border-radius: 12px;
  box-shadow: 1px 1px #f2f2f2;
  color: #3f51b5;
  padding: 10px;
  max-height: 750px;
  position: relative;
  .payment {
    margin-top: 30px;
  }

  .basket_header {
    text-align: center;

    .icon {
      display: flex;
      height: 30px;
      width: 100%;
    }
    h4 {
      font-weight: 500;
      margin: 3px;
      margin-bottom: 20px;
    }
  }
  .product-box {
    margin-top: 30px;
    border: 1px solid #9096bb5d;
    display: flex;
    justify-content: space-between;
    img {
      height: 70px;
      border: 1px solid #9096bb5d;
      float: right;
    }
  }
}
.carousel-root {
  width: 500px;
}

.basket_item {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  color: #0d0d0d;
  .basket_item_name {
    font-weight: 400;
  }
  .basket_item_img {
    width: 60px;
  }
  h3 {
    margin: 10px;
    font-size: 14px;
    font-weight: 500;
  }
}
.MuiIconButton-label {
  pointer-events: none;
}

.product-info {
  padding-left: 70px;
  padding-right: 30px;
  width: 45%;
  h4 {
    font-weight: 500;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    color: grey;
  }
}
